.foot1{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer1{
    background-color: cyan;
    text-align: center;
  }
  
  .header{
    background-color:cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    text-align: center;
  }.foot1{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer1{
    background-color: cyan;
    text-align: center;
  }
  
  .header{
    background-color:cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 120px;
    text-align: center;
  }